/* SCSS goes here */
body {
  margin: 0;
  padding: 0;
}

.all-shows-container {
  margin: auto 0;

  .show-container {
    display: none;

    &.current {
      display: block;
    }

    .main-image {
      display: block;
      width: 70%;
      margin: 30px auto 0;
    }

    .episode-count, .show-title {
      margin: 10px 0 0;
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 12px;
      text-align: center;
      text-transform: uppercase;
      color: #aaaaaa;
      font-weight:bold;
    }

    .show-title {
      margin: 0 0 10px;
      font-size: 22px;
      color: #000000;
    }
  }
}

.show-navigation {
  position: absolute;
  left: 6.67%;
  bottom: 6.67%;
  right: 6.67%;
  overflow-x: auto;

  .icon-left-open, .icon-right-open {
    display: none;
    width: 5%;
    min-width: 40%;
  }

  .thumbs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .show-thumb {
      width: 20%;
      height: 20%;
      display: block;
      padding-right: 6.67%;



      &:last-of-type {
        padding-right: 0;
      }
    }
  }
}