/* SCSS goes here */
body {
  margin: 0;
  padding: 0;
}

.all-shows-container {
  width: 60%;
  max-width: 980px;
  margin: 30px auto;

  .show-container {
    display: none;

    &.current {
      display: block;
    }

    .main-image {
      display: block;
      width: 100%;
      max-width: 580px;
      margin: 0 auto;
    }

    .episode-count, .show-title {
      margin: 10px 0 0;
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 12px;
      text-align: center;
      text-transform: uppercase;
      color: #aaaaaa;
      font-weight:bold;
    }

    .show-title {
      margin: 0 0 10px;
      font-size: 22px;
      color: #000000;
    }
  }
}

.show-navigation {
  width: 70%;
  max-width: 980px;
  margin: 0 auto;

  .icon-left-open, .icon-right-open {
    display: none;
    width: 5%;
    min-width: 40%;
  }

  .thumbs {
    display: flex;
    flex-direction: row;
    overflow-x: auto;

    .show-thumb {
      width: 20%;
      height: 20%;
      padding-right: 6.67%;
      opacity: .4;

      &.current {
        opacity: 1;
      }

      &:last-of-type {
        padding-right: 0;
      }
    }
  }
}